* {

    box-sizing: border-box;
    font-size: 1em;
}

body {
    font-family: 'Merriweather', serif;
    margin: auto;

}

header h1 {
    color: white;
    background: rgb(34, 34, 44);
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    margin: 0 auto;


}

h2 {
    text-align: center;
    margin-top: 30px;
}

p {
    text-align: center;
    padding: 10px;
    color: rgb(216, 216, 216);
    font-size: small;
    /* border-bottom: 20px double black; */
    margin-bottom: 0 auto;
    /* border-width: 10px; */
    margin-bottom: 30px;;

}

.HRhead {
    border: 2px solid black;
}

.Brh {
    margin-top: -6px;
    margin-bottom: 26px;
}

form {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;




}

.contact {

    color: black;
}

label {

    color: rgb(169, 171, 182);
    margin-bottom: 10px;

}

input {

   background: rgb(238, 237, 237);
   border-radius: 3px;
   height: 41px;
   margin-bottom: 15px;
   border-style: none;




}

::placeholder{
    color: rgb(175, 168, 168);
    text-align: right;
   font-style: italic;
   padding: 15px;
   font-size: 14px;
}

input:focus,
select:focus,
textarea:focus {
  background-color: tomato;
}

select {
    background: rgb(238, 237, 237);
   border-radius: 3px;
   height: 41px;
   margin-bottom: 15px;
   color: rgb(175, 168, 168);


}

.zip {

    width: 50%;

}

hr {

   width: 300px;
   border: 1px solid black;

}

.newsL {

    text-align: left;
    color: rgb(169, 171, 182);
}

label.check {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1em;


}

.news {

    margin-top: 30px;
}

label.NEwsL {


   margin-top: -6px;
   align-items: center;

}

.topic {

    margin-top: 30px;
}
textarea {
    height: 75px;
    width: 100%;
    background: rgb(238, 237, 237);
    border-style: none;
  }

button {
    font-size: 1.2em;
    text-align: center;
    font-weight: bolder;
    color: white;
    width: 100%;
    height: 65px;
    margin: 20px 0;
    background-color: #4dbbb5;
    border-radius: 6px;
  }

  footer {
    font-style: italic;
    font-size: 0.8em;
    color: rgb(190, 188, 188);
    padding: 15px 0 60px 0;
    text-align: center;
  }

  @media screen and (min-width: 768px) {



    form {

        max-width: 1000px;

    }

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    label {
        align-self: flex-start;


    }

    .main {

        width: 400px;
        align-self: center;
    }


    select {
        width: 400px;
        align-self: center;

    }

    .zip {

        max-width: 140px;

       align-self: center;
       margin-left: -250px;

    }

    hr {

        width: 600px;
        border: 1px solid black;

     }

     .topic {
        align-self: center;
       margin-left: -250px;
     }
     textarea {
        width: 600px;
        align-self: center;

     }

     button {

        width: 600px;
        align-self: center;
     }

  }
